{% extends 'base.html' %}
{% block content %}
 <!-- Header-->
 <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us....</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome TO Shawks....</p>
        </div>  
    </div>
</header><br>
<div class='container'>
    <div class='row'>
        <center>
            <div class='col-8'>
                <p align='justify'>
                Shawks is a global eyewear brand committed to providing the latest fashion and eye-wear products in all
                 possible price ranges. We offer a vast portfolio of premium products, and our main target is casual sunglasses
                  for every day usage, but we also sell safety glasses, prescription lenses as well as fashion goggles. Shawks
                  was founded in 2023 with the goal of making quality eyewear available to everyone at any time. Sunglasses are not
                   just worn to protect your eyes; they should be fashionable and different. Design is driven by customer needs and
                    wants. We work closely with our customers by listening and satisfying their demands while simultaneously exploring
                    new trends together.<br><br></p>

                    <b>CUSTOMER SUPPORT</b><br><br>

                    WhatsApp : +91 9316332677<br><br>

                    Email : support@shawks.com<br><br>
            </div>
        </center>
    </div>
</div>

{% include 'footer.html' %}
{% endblock %}